.article {
  width: 25%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  margin: 2%;
  border-top: solid 6px rgb(183, 226, 226);
  border-bottom: solid 6px rgb(183, 226, 226);
  overflow: hidden;

  &__image {
    margin: 10px;
    width: 90%;;
  }

  &__content {
    padding: 10px;
  }

  &__title {
    padding: 5px;
    border-bottom: solid 3px rgb(139, 182, 182);
  }

  &__source {
    padding: 5px 15px;
    margin-top: 5px;
    font-size: large;
    background-color: rgb(183, 226, 226);
    border-radius: 40px;
  }

  &__upper_row, &__lower_row, &__footer {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  &__upper_row {
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  &__lower_row {
    flex: 10;
    align-items: center;
    justify-content: center;
  }

  &__description {
    padding: 0 40px 3px;
    align-self: center;
    margin: 0 0 10px 0;
    border-bottom: solid 3px rgb(183, 226, 226);
  }

  &__footer {
    flex: 1;
    margin: 10px;
    display: flex;
    align-items: flex-end;

    &__author, &__published_at, &__url {
      padding: 5px 15px;
      margin-top: 3px;
    }

    &__author, &__published_at {
      font-size: 17px;
      background-color: rgb(205, 223, 209);
      border-radius: 40px;
    }

    &__url {
      background-color: rgb(162, 207, 207);
      font-size: 16px;
      border-radius: 20px;
      text-decoration: none;
      color: darkslateblue;
    }
  }

};
